/* Header.css */
html {
  overflow-x: hidden;
}
/* Header container */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 0px 10px;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  /* Logo link */
  .nav-logo {
    text-decoration: none;
    color: maroon;
    padding-left: 10px;
  }
  
  /* Logo header */
  .logo-header {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  /* Navigation link */
  .nav {
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: normal;
  }
  
  /* Hover effect for navigation link */
  .nav:hover {
    background-color: #ddd;
    border-radius: 5px;
  }

  h3 {
    margin-top: 0px;
    text-align: center;
    font-weight: 500;
  }

  hr {
    width: 100vw;
    padding: 0;
    margin-bottom: 0;
  }

  .addPost-default:hover {
    cursor: pointer;
  }

 

  @media screen and (max-width: 775px) {
    .logo-header {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      padding-left: 0px;
    }

    .nav-logo {
      text-decoration: none;
      color: maroon;
      padding-left: 0px;
    }

  }
  