.register-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.register-button {
  font-size: 20px;
  border-radius: 6px;
  width: 380px;
  height: 50px;
  font-weight: 700;
  border: none;
  margin: 10px;
  background-color: maroon;
  color: white;
}

.register-button:hover {
  cursor: pointer;
}

.register-hr {
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  .register-button {
    width: 200px;
  }

  .register-container {
    width: auto;
  }
}